<section class="address" id="address">
  <div class="address__wrapper">
    <div class="address__container container">
      <div class="address__inner">
        <h2 class="address__title title">Контакты</h2>
        <div class="address__contacts-wrap">
          <div class="address__position-wrap">
            <div class="address__info info">
              <div class="info__chapter">
                <h3 class="info__subtitle title">Адрес</h3>
                <div class="info__address-wrap">
                  <address class="info__address">Московская область, г. Подольск, ул. Правды, д. 28. <br> территория ЗАО
                    "Подольскхолод"</address>
                </div>
              </div>
              <div class="info__chapter">
                <h3 class="info__subtitle title">Телефон</h3>
                <div class="info__tel-wrap">
                  <a class="info__tel" href="tel:79957572196">+7 (995) 757-21-96</a>
                </div>
              </div>
              <div class="info__chapter">
                <h3 class="info__subtitle title">E-mail</h3>
                <div class="info__mail-wrap">
                  <a href="mailto:tehocmotrpod.hol@gmail.com" class="info__mail">tehocmotrpod.hol@gmail.com</a>
                </div>
              </div>
              <div class="info__chapter">
                <h3 class="info__subtitle title">График</h3>
                <div class="info__chedule-wrap">
                  <p class="info__chedule">Понедельник-пятница - с 9.00 до 18.00 <br> Суббота - с 9.00 до 17.00 <br>
                    Воскресенье - выходной</p>
                </div>
              </div>
              <div class="info__btn-wrap">
                <a href="https://yandex.ru/maps/?rtext=~55.405819044014464, 37.55929914152266" target="_blank" class="info__btn btn btn-reset">Построить маршрут</a>
              </div>
            </div>
            <div class="address__map-container" id="map"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
