<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="logo.ico" type="image/x-icon">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="theme-color" content="#111111">
  <meta name="description" content="Техосмотр Подольск">
  <meta name="description" content="technical inspection Podolsk  ">
  <title>Техосмотр - Подольск</title>
  <link rel="preload" fetchpriority="high" as="image" href="img/hero-bg.jpg" type="image/webp">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
  <link rel="stylesheet" href="css/vendor.css">
  <link rel="stylesheet" href="css/main.css">
  <script src="https://api-maps.yandex.ru/v3/?apikey=4cb20f90-fa06-40c3-b5c5-958a9021a8bc&lang=ru_RU"></script>
  <script defer src="js/main.js"></script>
</head>
