<section class="hero" id="hero">
  <div class="hero__wrapper">
    <div class="hero__container container">
      <div class="hero__description description">
        <h1 class="description__title title">Пункт технического осмотра и изготовления номеров</h1>
        <h2 class="description__subtitle">Cтоимость услуг:</h2>
        <ul class="description__list">
          <li class="description__item">Технический осмотр мотоциклов (категория А) — <span
              class="description__price">1&nbsp;500&nbsp;₽</span></li>
          <li class="description__item">Технический осмотр легковых и грузовых автомобилей до 3.5 тонн (категория В/M1,
            B/N1) — <span class="description__price">1&nbsp;500&nbsp;₽</span></li>
          <li class="description__item">Технический осмотр грузовых автомобилей свыше 3.5 тонн (категория C/N2) — <span
              class="description__price">2 000&nbsp;₽</span></li>
          <li class="description__item">Изготовление Государственных регистрациюнных знаков с триколором (флагом) —
            <span class="description__price">1&nbsp;500&nbsp;₽&nbsp;(комплект)</span>
          </li>
          <li class="description__item">Изготовление Государственных регистрациюнных знаков без триколора (флага) —
            <span class="description__price">2&nbsp;000&nbsp;₽&nbsp;(комплект)</span>
          </li>
        </ul>
      </div>
      <div class="hero__form-wrap">
        <form class="hero__form form" id="form">
          <h3 class="form__title title">Записаться</h3>
          <span class="form__descr">Наш менеджер перезвонит вам в течение 30 минут в рабочие часы.</span>
          <input class="form__input-name input-reset" id="name" name="name" type="text" placeholder="Имя*" required>
          <input class="form__input-tel input-reset" id="tel" name="tel" type="tel" placeholder="+7(___)___-__-__"
            required>
          <textarea class="form__input-descr input-reset" id="descr" name="descr"
            placeholder="Марка автомобиля, госномер"></textarea>
          <label class="form__custom-checkbox custom-checkbox">
            <input class="custom-checkbox__input" id="agreement" type="checkbox" name="agreement" value="agreement"
              required>
            <span class="custom-checkbox__text">Согласие на обработку персональных данных</span>
          </label>
          <button class="form__btn btn btn-reset" type="submit">
            <span class="btn__text">Отправить заявку</span>
            <span class="btn__shimmer"></span>
          </button>
          <div class="form__send-result"></div>
        </form>
      </div>
    </div>
  </div>
</section>
