<section class="services" id="services">
  <div class="services__wrapper">
    <div class="services__container container">
      <div class="services__inner">
        <div class="services__card-wrap">
          <h2 class="services__title title">Услуги</h2>

          <div class="services__swiper swiper mySwiper">
            <div class="services__swiper-wrapper swiper-wrapper">
              <div class="services__swiper-slide swiper-slide">
                <ul class="services__card-list list list-reset">
                  <li class="list__item card">
                    <div class="card__img-wrap card__img-wrap--moto"></div>
                    <h3 class="card__subtitle title">Мотоциклы</h3>
                    <p class="card__descr">Категория А позволяет управлять мотоциклами, мопедами, квадроциклами с
                      мотоциклетной посадкой (верхом) или рулём.</p>
                    <span class="card__price">1 500 ₽</span>
                    <a href="#form" class="card__btn btn btn-reset">Записаться на ТО</a>
                  </li>
                  <li class="list__item card">
                    <div class="card__img-wrap card__img-wrap--autoB"></div>
                    <h3 class="card__subtitle title">Легковые автомобили</h3>
                    <p class="card__descr">Категория M1 (легковые автомобили, используемые для перевозки пассажиров и
                      имеющие,
                      помимо места водителя, не более восьми мест)</p>
                    <span class="card__price">1 500 ₽</span>
                    <a href="#form" class="card__btn btn btn-reset">Записаться на ТО</a>
                  </li>
                  <li class="list__item card">
                    <div class="card__img-wrap card__img-wrap--autoN1"></div>
                    <h3 class="card__subtitle title">Грузовые автомобили массой <br> до 3,5 т</h3>
                    <p class="card__descr">Категория N1 (грузовые автомобили, используемые для перевозки грузов, имеющие
                      максимальную массу не более 3.5 тонн)</p>
                    <span class="card__price">1 500 ₽</span>
                    <a href="#form" class="card__btn btn btn-reset">Записаться на ТО</a>
                  </li>
                  <li class="list__item card">
                    <div class="card__img-wrap card__img-wrap--autoC"></div>
                    <h3 class="card__subtitle title">Грузовые автомобили массой <br> свыше 3,5 т</h3>
                    <p class="card__descr">Категория N2 – грузовые автомобили, предназначенные для перевозки грузов,
                      максимальная масса которых свыше 3,5 т, но не более 12 т.</p>
                    <span class="card__price">2 000 ₽</span>
                    <a href="#form" class="card__btn btn btn-reset">Записаться на ТО</a>
                  </li>
                </ul>
              </div>
              <div class="services__swiper-slide swiper-slide">
                <ul class="services__card-list list list-reset">
                  <li class="list__item card">
                    <div class="card__img-wrap card__img-wrap--number-fl"></div>
                    <h3 class="card__subtitle title">Госномера с флагом (триколором)</h3>
                    <p class="card__descr">Изготовление государственных регистрационных знаков с
                      триколором (флагом)</p>
                    <span class="card__price">1 500 ₽</span>
                    <a href="#form" class="card__btn btn btn-reset">Заказать номера</a>
                  </li>
                  <li class="list__item card">
                    <div class="card__img-wrap card__img-wrap--number-without-fl"></div>
                    <h3 class="card__subtitle title">Госномера без флага (триколора)</h3>
                    <p class="card__descr">Изготовление государственных регистрационных знаков без
                      триколора (флага)</p>
                    <span class="card__price">2 000 ₽</span>
                    <a href="#form" class="card__btn btn btn-reset">Заказать номера</a>
                  </li>
                  <li class="list__item card">
                    <div class="card__img-wrap card__img-wrap--adjustment"></div>
                    <h3 class="card__subtitle title">Регулировка угла наклона света фар</h3>
                    <p class="card__descr">Регулировка угла наклона света фар ближнего и дальнего света, на специальном
                      оборудовании</p>
                    <span class="card__price">700 ₽</span>
                    <a href="#form" class="card__btn btn btn-reset">Записаться на ТО</a>
                  </li>
                  <li class="list__item card">
                    <div class="card__img-wrap card__img-wrap--pass"></div>
                    <h3 class="card__subtitle title">Пропуск на МКАД, ТТК, СК</h3>
                    <p class="card__descr">Помощь с оформлением пропуска на МКАД, ТТК, СК для грузовых автомобилей.</p>
                    <span class="card__price">от 15 000 ₽</span>
                    <a href="#form" class="card__btn btn btn-reset">Заказать пропуск</a>
                  </li>
                </ul>
              </div>
              <div class="services__swiper-slide swiper-slide">
                <ul class="services__card-list list list-reset">
                  <li class="list__item card">
                    <div class="card__img-wrap card__img-wrap--gas"></div>
                    <h3 class="card__subtitle title">Освидетельствование газобалонного оборудования</h3>
                    <p class="card__descr">Производим освидетельствование газобалонного оборудования на автомобилях
                      категории «В». А так же услуги по восстановлению паспорта на газовый баллон.</p>
                    <span class="card__price">от 1 500 ₽</span>
                    <a href="#form" class="card__btn btn card__btn--gas btn-reset">Записаться</a>
                  </li>
                  <li class="list__item card">
                    <div class="card__img-wrap card__img-wrap--auto-school"></div>
                    <h3 class="card__subtitle title">Обучение в автошколе</h3>
                    <p class="card__descr">Помощь с обучением в автошколе</p>
                    <span class="card__price">от 15 000 ₽</span>
                    <a href="#form" class="card__btn btn btn-reset">Записаться</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="services__swiper-button-next swiper-button-next"></div>
            <div class="services__swiper-button-prev swiper-button-prev"></div>
            <div class="services__swiper-pagination swiper-pagination"></div>
          </div>

        </div>
        <div class="services__description">
          <h2 class="services__title title services__title--services">О нас</h2>
          <p class="services__descr">Наша компания аккредитованная в РСА <br class="services__transfer_1820">
            (Российский Союз Автостраховщиков) оказывает
            услуги
            по прохождению технического осмотра транспортных средств
            категории «A», «В», «С», с занесением в базу ЕАИСТО, <br class="services__transfer_1820"> а также для
            совершения регистрационных действий в
            ГАИ.
          </p>
          <p class="services__descr">
            Сотрудничаем как с физическими, так и с юридическими лицами.
          </p>
          <p class="services__descr">
            Номер в реестре Операторов технического осмотра №10775 <a href="https://oto-register.autoins.ru/oto/"
              target="_blank" class="services__registry">Проверка номера в реестре</a>.
          </p>
          <div class="services__certificates-wrap">
            <div class="services__certificate-wrap">
              <picture>
                <source srcset="img/certificate.webp" type="image/webp">
                <img loading="lazy" src="img/certificate.webp" class="services__certificate" alt="Аттестат аккредитации">
              </picture>
              <div class="services__certific-wrap">
                <picture>
                  <source srcset="img/certificate-1.webp" type="image/webp">
                  <img loading="lazy" src="img/certificate-1.webp" class="services__certificate services__certificate--first" alt="Аттестат аккредитации-1">
                </picture>
                <picture>
                  <source srcset="img/certificate-2.webp" type="image/webp">
                  <img loading="lazy" src="img/certificate-2.webp" class="services__certificate services__certificate--second" Zalt="Аттестат аккредитации-2">
                </picture>
              </div>
            </div>
          </div>

          <div class="services__swiper_1460-wrap">
            <div class="services__swiper_1460 swiper mySwiper">
              <div class="services__swiper-wrapper swiper-wrapper">
                <div class="services__swiper-slide swiper-slide">
                  <img class="services__certificate-swiper services__certificate-swiper--first"
                    src="img/certificate.webp" alt="Аттестат аккредитации">
                </div>
                <div class="services__swiper-slide swiper-slide">
                  <img class="services__certificate-swiper" src="img/certificate-1.webp">
                </div>
                <div class="services__swiper-slide swiper-slide">
                  <img class="services__certificate-swiper" src="img/certificate-2.webp">
                </div>
              </div>
              <div class="services__swiper-button-next swiper-button-next"></div>
              <div class="services__swiper-button-prev swiper-button-prev"></div>
              <div class="services__swiper-pagination swiper-pagination"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
